@media screen and (min-width:992px) and (max-width:1325px) {
    .popup {
        height: 346px;
    }

    nav ul {
        gap: 5rem;
    }

    .content h1 {
        width: 65%;
        font-size: 38px;
    }

    .content p {
        font-size: 18px;
    }

    .feature-img {
        width: 60%;
        height: 80%;
    }

    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .choice-container {
        grid-template-columns: 1fr;
    }

    .choice-text {
        display: grid;
        grid-gap: 1rem;
    }

    .choice-text h3 {
        font-size: 38px;
    }

    .choice-text p {
        font-size: 19px;
        line-height: 40px;
        width: 100%;
    }

    .choice-info {
        padding: 13px 5px 11px;
    }

    .choice-info h3 {
        font-size: 22px;
    }

    .choice-info p {
        font-size: 15px;
    }

    .btn4 {
        width: 209px;
        height: 46px;
        line-height: 36px;
        padding: 8px 10px;
    }

    .card-container {
        grid-gap: 4rem;
        grid-template-columns: 1fr 1fr;
    }

    .goal-box-2 .goals-card-2 .goal-tit-2 p {
        font-size: 20px;
    }

    .menu .menu-box {
        flex-wrap: wrap;
        gap: 5rem;
    }

    .menu .menu-box .menu-card .menu-image {
        width: 305px;
    }

    .tools {
        grid-template-columns: 1fr;
    }

    .tool-title {
        font-size: 31px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .footer-1 h2 {
        font-size: 25px;
    }

    .footer-1 span {
        font-size: 20px;
    }

    .footer-2 i {
        font-size: 30px;
    }

    .footer-2 a {
        font-size: 21px;
    }

    .footer-2 .btn-footer {
        width: 132px;
        height: 45px;
        line-height: 24px;
    }

    .footer-banner-links0 {
        width: 16%;
        line-height: 51px;
    }

    .footer-banner-links0 h4 {
        font-size: 22px;
        line-height: 40px;
    }

    .footer-banner-links0 p {
        font-size: 10px;
    }

    .footer-banner-links1 h4 {
        font-size: 20px;
    }

    .footer-banner-links1 a {
        font-size: 12px;
    }

    .footer-banner-links2 h4 {
        font-size: 20px;
    }

    .footer-banner-links2 a {
        font-size: 12px;
    }

    .footer-banner-links3 h4 {
        font-size: 20px;
    }

    .footer-banner-links3 span {
        position: sticky;
        right: 11%;
    }

    .follow-links h4 {
        font-size: 20px;
    }
}

@media screen and (min-width:769px) and (max-width:991px) {
    .button {
        order: 2;
        line-height: 85px;
    }

    .checkbtn {
        display: block;
        order: 3;
        color: #8fabba;
    }

    label.logo {
        color: #000;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        order: 1;
    }

    nav ul {
        position: fixed;
        width: 18%;
        height: 71vh;
        flex-direction: column;
        align-items: center;
        background-color: rgb(1, 1, 48);
        color: #fff;
        border: 2px solid #fff;
        top: 80px;
        left: -100%;
        border-bottom: 1;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        gap: 2rem;
        height: auto;
    }

    nav ul li {
        display: block;
        margin: 8px 0;
        border-bottom: 2px solid #fff;
        line-height: 17px;
        width: 75%;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
    }

    #check:checked~ul {
        left: 0;
    }

    .popup {
        height: 392px;
    }

    .content h1 {
        width: 65%;
        font-size: 38px;
    }

    .content p {
        font-size: 18px;
    }

    .feature-img {
        width: 60%;
        height: 80%;
    }

    .wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .choice-container {
        grid-template-columns: 1fr;
    }

    .choice-text {
        display: grid;
        grid-gap: 1rem;
    }

    .choice-text h3 {
        font-size: 25px;
    }

    .choice-text p {
        font-size: 15px;
        line-height: 40px;
        width: 100%;
    }

    .choice-text ul {
        font-size: 13px;
        padding: 10px;
    }

    .choice-info {
        width: 200px;
        height: 200px;
    }

    .choice-info h3 {
        font-size: 10px;
    }

    .choice-info p {
        font-size: 10px;
    }

    .choice-info a {
        font-size: 10px;
    }

    .btn4 {
        width: 209px;
        height: 46px;
        line-height: 36px;
        padding: 8px 10px;
    }

    .card-container {
        grid-gap: 4rem;
        grid-template-columns: 1fr 1fr;
    }

    .tools {
        grid-template-columns: 1fr;
    }

    .goal-box-2 {
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
    }

    .menu .menu-box {
        flex-wrap: wrap;
        gap: 12px;
    }

    .menu .menu-box .menu-card .menu-image {
        width: 305px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .footer-1 h2 {
        font-size: 20px;
    }

    .footer-1 span {
        font-size: 15px;
    }

    .footer-2 i {
        font-size: 30px;
    }

    .footer-2 a {
        font-size: 11px;
    }

    .footer-2 .btn-footer {
        width: 132px;
        height: 45px;
        line-height: 24px;
    }

    .footer-banners {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 0 auto;
        align-items: center;
    }

    .footer-banner-links0 {
        width: 67%;
        line-height: 36px;
    }

    .footer-banner-links0 h4 {
        font-size: 20px;
    }

    .footer-banner-links0 p {
        font-size: 10px;
    }

    .footer-banner-links1 h4 {
        font-size: 20px;
    }

    .footer-banner-links1 a {
        font-size: 12px;
    }

    .footer-banner-links2 h4 {
        font-size: 20px;
    }

    .footer-banner-links2 a {
        font-size: 12px;
    }

    .footer-banner-links3 h4 {
        font-size: 20px;
    }

    .follow-links h4 {
        font-size: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .button {
        order: 2;
        line-height: 85px;
    }

    .checkbtn {
        display: block;
        order: 3;
        color: #8fabba;
    }

    label.logo {
        color: #000;
        font-size: 27px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        order: 1;
    }

    nav ul {
        position: fixed;
        width: 25%;
        height: 71vh;
        flex-direction: column;
        align-items: center;
        background-color: rgb(1, 1, 48);
        color: #fff;
        border: 2px solid #fff;
        top: 80px;
        left: -100%;
        border-bottom: 1;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        gap: 2rem;
        height: auto;
    }

    nav ul li {
        display: block;
        margin: 8px 0;
        border-bottom: 2px solid #fff;
        line-height: 17px;
        width: 75%;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
    }

    #check:checked~ul {
        left: 0;
    }

    .popup {
        height: 384px;
    }

    .content h1 {
        width: 65%;
        font-size: 35px;
    }

    .content p {
        font-size: 18px;
    }

    .goals-text h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .choice-container {
        grid-template-columns: 1fr;
    }

    .choice-text {
        display: grid;
        grid-gap: 1rem;
    }

    .choice-text h3 {
        font-size: 18px;
    }

    .choice-text p {
        font-size: 10px;
        line-height: 40px;
        width: 100%;
    }

    .choice-text ul {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 10px;
    }

    .choice-info {
        width: 200px;
        height: 200px;
    }

    .choice-info h3 {
        font-size: 10px;
    }

    .choice-info p {
        font-size: 10px;
    }

    .choice-info a {
        font-size: 10px;
    }

    .btn4 {
        width: 190px;
        height: 42px;
        line-height: 30px;
        padding: 8px 10px;
    }

    .card-container {
        grid-gap: 4rem;
        grid-template-columns: 1fr;
    }

    .tools {
        grid-template-columns: 1fr;
    }

    .tool-title {
        font-size: 20px;
    }

    .tool-sub-title {
        font-size: 12px;
    }

    .tool-btn {
        padding: 5px 20px;
    }

    .goal-box-2 {
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
    }

    .goal-box-2 .goals-card-2 .goal-tit-2 p {
        font-size: 23px;
    }

    .menu .menu-box {
        flex-wrap: wrap;
        gap: 12px;
    }

    .menu .menu-box .menu-card .menu-image {
        width: 305px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .footer-1 h2 {
        font-size: 20px;
    }

    .footer-1 span {
        font-size: 15px;
    }

    .footer-2 i {
        font-size: 30px;
    }

    .footer-2 a {
        font-size: 11px;
    }

    .footer-2 .btn-footer {
        width: 132px;
        height: 45px;
        line-height: 24px;
    }

    .footer-banners {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 10px;
        margin: 0 auto;
        align-items: center;
    }

    .footer-banner-links0 {
        width: 100%;
        line-height: 36px;
    }

    .footer-banner-links0 h4 {
        font-size: 24px;
    }

    .footer-banner-links0 p {
        font-size: 16px;
    }

    .footer-banner-links1 h4 {
        font-size: 24px;
    }

    .footer-banner-links1 a {
        font-size: 16px;
    }

    .footer-banner-links2 h4 {
        font-size: 24px;
    }

    .footer-banner-links2 a {
        font-size: 16px;
    }

    .footer-banner-links3 h4 {
        font-size: 24px;
    }

    .footer-banner-links3 span {
        position: sticky;
        right: 34%;
    }

    .follow-links h4 {
        font-size: 20px;
    }
}

@media screen and (max-width:575px) {
    .button {
        order: 2;
        line-height: 85px;
        margin-left: 20px;
    }

    .checkbtn {
        display: block;
        order: 3;
        color: #8fabba;
        margin-left: 35px;
    }

    label.logo {
        font-size: 20px;
        order: 1;
    }

    label .fa-graduation-cap {
        font-size: 38px;
    }

    nav ul {
        position: fixed;
        width: 40%;
        height: 71vh;
        flex-direction: column;
        align-items: center;
        background-color: rgb(1, 1, 48);
        color: #fff;
        border: 2px solid #fff;
        top: 80px;
        left: -100%;
        border-bottom: 1;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        gap: 2rem;
        height: auto;
    }

    nav ul li {
        display: block;
        margin: 8px 0;
        border-bottom: 2px solid #fff;
        line-height: 17px;
        width: 75%;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
    }

    #check:checked~ul {
        left: 0;
    }

    nav {
        gap: 0.5rem;
    }

    .logo img {
        width: 192px;
    }

    .content h1 {
        width: 65%;
        font-size: 21px;
    }

    .content p {
        font-size: 14px;
    }

    .popup {
        padding: 20px;
        width: 290px;
        height: 290px;
    }

    .popup {
        .ind1 {
            width: 290px;
        }

        i.fa-solid.fa-magnifying-glass {
            display: none;
        }
    }

    .btn3 {
        font-size: 16px;
        width: 170px;
        height: 40px;
    }

    .box .front-face span,
    .box .back-face span {
        font-size: 11px;
    }

    .box .back-face p {
        font-size: 10px;
    }

    .goals-text h2 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }

    .Choices {
        width: 100%;
    }

    .choice-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .choice-text {
        display: grid;
        grid-gap: 1rem;
    }

    .choice-text h1 {
        font-size: 20px;
    }

    .choice-text h3 {
        font-size: 10px;
    }

    .choice-text p {
        font-size: 10px;
        width: 100%;
    }

    .choice-text ul {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 10px;
    }

    .choice-info {
        width: 200px;
        height: 200px;
    }

    .choice-info h3 {
        font-size: 10px;
    }

    .choice-info p {
        font-size: 10px;
    }

    .choice-info a {
        font-size: 10px;
    }

    .goals-text p {
        font-size: 35px;
    }

    .goals-text2 p {
        font-size: 25px;
        text-align: center;
    }

    .goals-text2 h2 {
        font-size: 15px;
        text-align: center;
    }

    .btn4 {
        width: 190px;
        height: 42px;
        line-height: 30px;
        padding: 8px 10px;
    }

    .card-img {
        width: 272px;
        height: 270px;
    }

    .card-container {
        grid-gap: 4rem;
        grid-template-columns: 1fr;
    }

    .tools {
        grid-template-columns: 1fr;
    }

    .tool-title {
        font-size: 12px;
    }

    .tool-sub-title {
        font-size: 7px;
        margin: 0;
    }

    .tool-btn {
        padding: 5px 14px;
        font-size: 11px;
        width: 98px;
    }

    .goals-text2 p {
        font-size: 17px;
        text-align: center;
    }

    .goals-text2 h2 {
        font-size: 17px;
        text-align: center;
    }

    .goal-box-2 {
        grid-gap: 25px;
        grid-template-columns: 1fr;
    }

    .goal-box-2 .goals-card-2 .goal-tit-2 p {
        font-size: 23px;
    }

    .menu .menu-box {
        flex-wrap: wrap;
        gap: 12px;
    }

    .menu .menu-box .menu-card {
        width: 290px;
        height: 500px;
    }

    .menu .menu-box .menu-card .menu-image {
        width: 265px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        align-items: center;
        justify-items: center;
    }

    .footer-1 h2 {
        font-size: 16px;
        text-align: center;
    }

    .footer-1 span {
        font-size: 14px;
    }

    .footer-2 {
        flex-direction: column;
        align-items: center;
    }

    .footer-2 i {
        display: none;
    }

    .footer-2 a {
        font-size: 16px;
    }

    .footer-2 .btn-footer {
        width: 114px;
        font-size: 12px;
        height: 35px;
        line-height: 20px;
    }

    .footer-banner-content {
        padding: 20px;
    }

    .footer-banners {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 10px;
        margin: 0 auto;
        align-items: center;
    }

    .footer-banner-links0 {
        width: 100%;
        line-height: 36px;
    }

    .footer-banner-links0 h4 {
        font-size: 24px;
    }

    .footer-banner-links0 p {
        font-size: 16px;
    }

    .footer-banner-links1 h4 {
        font-size: 24px;
    }

    .footer-banner-links1 a {
        font-size: 16px;
    }

    .footer-banner-links2 h4 {
        font-size: 24px;
    }

    .footer-banner-links2 a {
        font-size: 16px;
    }

    .footer-banner-links3 h4 {
        font-size: 24px;
    }

    .footer-banner-links3 span {
        display: none;
    }

    .footer-email {
        text-align: center;
    }

    .follow-links h4 {
        font-size: 20px;
    }
}